@using Radzen.Blazor
<AuthorizeView>
    <Authorized>
        <RadzenMenu>
            <RadzenRow Style="width: 1000px; display: flex; align-items:center;">
                <RadzenColumn Size="3" Style="display: flex; align-items: center;">
                    <NavLink class="nav-link" Icon="power_settings_new" href="Account/Logout" Match="NavLinkMatch.All">Logout</NavLink>
                </RadzenColumn>
                <RadzenColumn Size="3" />
                <RadzenColumn Size="6" Style="display: flex; align-items: center;">
                        @context?.User?.Identity?.Name
                </RadzenColumn>
            </RadzenRow>
        </RadzenMenu>
    </Authorized>
    <NotAuthorized>
        <div class="row">
            <div class="col-6">
                <NavLink class="nav-link font-monospace" href="Account/Login" Match="NavLinkMatch.All">Login</NavLink>
            </div>
            <div class="col-6">
                <NavLink class="nav-link font-monospace" href="Account/Register" Match="NavLinkMatch.All">Register</NavLink>
            </div>
        </div>
    </NotAuthorized>
</AuthorizeView>
