@using Radzen.Blazor
<AuthorizeView>
    <Authorized>
        <RadzenMenu>
            <NavLink class="nav-link" Icon="power_settings_new" href="Account/Logout" Match="NavLinkMatch.All">Logout</NavLink>
        </RadzenMenu>
    </Authorized>
    <NotAuthorized>
        <div class="row">
            <div class="col-6">
                <NavLink class="nav-link font-monospace" href="Account/Login" Match="NavLinkMatch.All">Login</NavLink>
            </div>
            <div class="col-6">
                <NavLink class="nav-link font-monospace" href="Account/Register" Match="NavLinkMatch.All">Register</NavLink>
            </div>
        </div>
    </NotAuthorized>
</AuthorizeView>
