@page "/foldertree/folders/{RepoName}"

@using TFGDevopsApp1.Components.Pages.Code



<div class="folder-tree-wrapper">
    <ul class="folder-tree">
        <FolderItem  RepoName="@RepoName" />
    </ul>
</div>

@code {
   
    [Parameter]
    public string RepoName { get; set; }

    
    protected override async Task OnInitializedAsync()
    {
            await base.OnInitializedAsync();
    }
}